{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
        <h4 class="text-center alert alert-info" >Add New Post</h4>
        



    <div class="container-fluid"  style="text-align: center;background-color:lavender">
      <div class="contact">  
      <div class="row">
          <div class="col-md-6 offset-3">
            <form action="" method="POST">

                <form method="POST" class="post-form">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-success">Save</button>
                </form>
          </div>
        </div>
      </div>
      </div>
{% endblock %}
