{% extends 'blog/base.html' %}
{% load static %}
{% block content %}






  <div class="banner-image w-90 vh-60 d-flex justify-content-center align-items-center">
      <!-- <div class="content text-center">
        <img style="height: 60vh; width:90%; text-align:center;" src="{% static 'images/postlist.jpg'%}" alt="image">
      </div> -->
    </div>

    <!-- Main Content Area -->
    
    <div class="container my-5 d-grid gap-5">
      <div class="p-5 border  alert alert-info ">
        <p>
          {% for post in post_list %}
                <div class="alert alert-success">
        
                    <h3><a  href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h3>
                    <div class="date">
                        <p>Published on: {{ post.published_date|date:"D M Y"}}</p>
                    </div>
                    <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a>
                </div>
            {% endfor %}
        </p>
      </div>
    </div>
    <div class="text-center">
    <a href="{% url 'back'%}"  class="btn btn-info text-center" >Back to Home</a>
  </div>

{% endblock content %}
